name: test

on:
  push:
    paths-ignore:
      - '**.md'
      - 'LICENSE'


jobs:
  luacheck:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/mah0x211/lua-ci:latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: 'true'
    -
      name: Install Tools
      run: luarocks install luacheck
    -
      name: Run luacheck
      run: |
        luacheck --no-self .

  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/mah0x211/lua-ci:latest
    strategy:
      matrix:
        lua-version:
          - "5.1.:latest"
          - "5.2.:latest"
          - "5.3.:latest"
          - "5.4.:latest"
          - "lj-v2.1:latest"
    steps:
    -
      name: Switch Lua Version
      run: |
        lenv -g use ${{ matrix.lua-version }}
        lua -v || true
    -
      name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: 'true'
    -
      name: Install
      run: |
        luarocks make
    -
      name: Install Tools
      run: |
        luarocks install testcase
        luarocks install luacov
        luarocks install setenv
    -
      name: Run Test
      run: |
        testcase ./test/
    -
      name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unittests
        files: ./luacov.report.out
